.animated-bg {
  background-size: 400%;
  -webkit-animation: animation-bg-gradient 5s ease infinite;
  -moz-animation: animation-bg-gradient 5s ease infinite;
  animation: animation-bg-gradient 5s ease infinite;
}

@keyframes animation-bg-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
